{%extends 'cities/base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<h1>Города</h1>

<div class="block">
    {%for city in cities%}
    <div class="city">
        <div class="element">
            <img src="{{city.image.url}}" alt="">
        </div>
        <div class="text">
            <h2><a href="{{city.url}}" target="_blank">{{city.title}}</a></h2>
            <p>{{city.description}}</p>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}